<div id="main-menu">
	<img id="logo" src="/images/sprtid.png" />

	<ul class="menu-items">
		<li class="menu-item create">
			<a class="hexagon" href="/create">
				<div class="hexagon icon">N</div>
			</a>
		</li>
		<li class="menu-item scan">
			<a class="hexagon" href="/#scan-identity">
				<div class="hexagon icon">Q</div>
			</a>
		</li>
		<li class="menu-item view">
			<a class="hexagon" href="/#scan-history">
				<div class="hexagon icon">H</div>
			</a>
		</li>
		<li class="menu-item stats">
			<a class="hexagon" href="/#scan-data">
				<div class="hexagon icon">D</div>
			</a>
		</li>
	</ul>
</div>
