<!--

verbiage\-\- This is what our app does

verbiage\+\+ This is what YOU CAN DO WITH OUR SERVICE

-->

<div class="feature-page about">
	<div class="brand">
		<img id="main-logo" width="174" width="auto" src="/images/sprtid.png" />
		<div class="hr-top">
			<h1><%= plaintext_logo %> : <span>white-label identification</span></h1>
		</div>
	</div>
	<img id="value-prop-venn-diagram" width="255" height="150" width="auto" src="/images/venn-diagram.png" />
</div>