<img id="main-logo" height="50%" width="auto" src="/images/sprtid.png" />
<h2>
	<span>white-label identification</span>
</h2>
<p>
	When your tournament calls for <span class="create">quick &amp; easy photo verification</span>
	of players, <strong>sprtid</strong> is the solution.
</p>
<p>
	<strong>sprtid</strong> takes the registration process you already use to the field with no apps to download,
	meaning <span class="scan">pre-registration by tournament organizers, and spot-checks by on-field officials</span>,
	ensure fair play with limited interruption.
</p>
<h5>How it Works</h5>
<p>
	Upon registration for an event, each player (or parent of player) will upload or take a photo with his or
	her web cam.  Once complete, a player or parent may either print or <span class="view">display a temporary
	id card on a smartphone</span> to the tournament organizers.
</p>
<h5>Realtime Stats</h5>
<p>
	Whether you are working the registration table or taking care of last-minute changes, <span class="stats">realtime
	stats are available on your phone</span> so you can prepare for delays before they happen.
</p>
