<%#
	menu: http://tympanus.net/Tutorials/AnimatedBorderMenus/index2.html
%>

<% content_for :ng_app do %>sprtId<% end %>
<% content_for :stylesheet do %>
	<link rel="stylesheet" type="text/css" href="/styles/app.css">
<% end %>

<div id="sprtid-app" ng-controller="AuthController">
	<%= erb :"app/organization/#{organization_name}/brand", :layout => false %>
	<div ng-view></div>
</div>

<% content_for :script do %>
	<!--
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	-->
	<script src="/scripts/lib/angular/angular.min.js"></script>
	<script src="/scripts/lib/angular/angular-route.min.js"></script>
	<!--
	<script src="/scripts/lib/aes-min.js"></script>
	-->
	<script src="/scripts/lib/qr-code-reader/grid.js"></script>
	<script src="/scripts/lib/qr-code-reader/version.js"></script>
	<script src="/scripts/lib/qr-code-reader/detector.js"></script>
	<script src="/scripts/lib/qr-code-reader/formatinf.js"></script>
	<script src="/scripts/lib/qr-code-reader/errorlevel.js"></script>
	<script src="/scripts/lib/qr-code-reader/bitmat.js"></script>
	<script src="/scripts/lib/qr-code-reader/datablock.js"></script>
	<script src="/scripts/lib/qr-code-reader/bmparser.js"></script>
	<script src="/scripts/lib/qr-code-reader/datamask.js"></script>
	<script src="/scripts/lib/qr-code-reader/rsdecoder.js"></script>
	<script src="/scripts/lib/qr-code-reader/gf256poly.js"></script>
	<script src="/scripts/lib/qr-code-reader/gf256.js"></script>
	<script src="/scripts/lib/qr-code-reader/decoder.js"></script>
	<script src="/scripts/lib/qr-code-reader/qrcode.js"></script>
	<script src="/scripts/lib/qr-code-reader/findpat.js"></script>
	<script src="/scripts/lib/qr-code-reader/alignpat.js"></script>
	<script src="/scripts/lib/qr-code-reader/databr.js"></script>
	<!--
	<script src="/scripts/lib/qr-code-writer/raphael-2.1.0-min.js"></script>
	<script src="/scripts/lib/qr-code-writer/qrcodesvg.js"></script>
	-->
	<script src="/scripts/polyfill.js"></script>
	<script src="/scripts/lib/client_storage.js"></script>

	<script src="/scripts/app/modules/webcam.js"></script>
	<script src="/scripts/app/controllers/AuthController.js"></script>
	<script src="/scripts/app/controllers/CheckInController.js"></script>
	<script src="/scripts/app/controllers/IdentityController.js"></script>
	<script src="/scripts/app/controllers/HistoryController.js"></script>
	<script src="/scripts/app/controllers/ScanController.js"></script>
	<script src="/scripts/app/controllers/StatsController.js"></script>
	<script src="/scripts/app/controllers/UserController.js"></script>
	<script src="/scripts/app/app.js"></script>
<% end %>

<% content_for :template do %>
	<%= file_load("#{settings.root}/public/scripts/app/templates/identity.html") %>
<% end %>
