<% content_for :ng_app do %>sprtId<% end %>
<% content_for :stylesheet do %>
	<link rel="stylesheet" type="text/css" href="/styles/app.css">
<% end %>

<div id="sprtid-app">
	<div id="utilities-wrapper">
		<%= erb :"app/organization/#{@organization}/brand", :layout => false %>
		<div ng-controller="StatsController" id="statscontroller-container">
		</div>
	</div>
	<div ng-controller="IdentityController" id="idcontroller-container" container="id-card-container">
		<div ng-controller="ScanController">
			<webcam on-stream="onStream(stream,video)" on-error="onError(err)" on-streaming="onSuccess(video)">
			</webcam>
			<!-- move to directive, modify qrcode reader to take init properties, e.g., #qr-canvas -->
			<canvas id="qr-canvas" style="display: none;"></canvas>
			<img id="qr-image" style="display: none;" />
			<!-- (end) move to directive -->

			<div classs="message error initialization-error" ng-show="state.error">
				<p>Use of your webcam is required to scan ids.</p>
			</div>
			<div classs="message info webcam-init" ng-show="state.init">
				<p>Please &quot;allow&quot; use of your camera</p>
			</div>
			<div classs="message success start-message" ng-show="state.pause" on-click="play(false)" on-dblclick="play(true)">
				<div class="icon play"></div>
				<p>Click to scan an id.</p>
				<p>Double-click to start multi-scan mode.</p>
			</div>
			<div classs="message warn pause-message" ng-show="state.play" on-click="pause()">
				<div class="icon pause"></div>
				<p>Click to stop camera.</p>
			</div>

			<input ng-model="identityId" required />
			<button class="btn" ng-click="render()">Display Identity</button>
		</div>
		<div id="current-scan-and-history">
			<div id="id-card-container"></div>
			<div ng-controller="HistoryController" id="historycontroller-container">
				<h6>History</h6>
				<ul>
					<li ng-repeat="identity in identities | reverse">
						<div class="history-identity">
							<div class="image-wrapper">
								<img ng-src="{{(identity.image.protocol || '') + identity.image.url}}" />
							</div>
							<div class="name">
								{{identity.name}}
								({{identity.birthdate | ageFormatter}})
							</div>
							<div class="team">{{identity.team}}</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!--
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="/scripts/lib/angular/angular.min.js"></script>
<!--
<script src="/scripts/lib/aes-min.js"></script>
-->
<script src="/scripts/lib/qr-code-reader/grid.js"></script>
<script src="/scripts/lib/qr-code-reader/version.js"></script>
<script src="/scripts/lib/qr-code-reader/detector.js"></script>
<script src="/scripts/lib/qr-code-reader/formatinf.js"></script>
<script src="/scripts/lib/qr-code-reader/errorlevel.js"></script>
<script src="/scripts/lib/qr-code-reader/bitmat.js"></script>
<script src="/scripts/lib/qr-code-reader/datablock.js"></script>
<script src="/scripts/lib/qr-code-reader/bmparser.js"></script>
<script src="/scripts/lib/qr-code-reader/datamask.js"></script>
<script src="/scripts/lib/qr-code-reader/rsdecoder.js"></script>
<script src="/scripts/lib/qr-code-reader/gf256poly.js"></script>
<script src="/scripts/lib/qr-code-reader/gf256.js"></script>
<script src="/scripts/lib/qr-code-reader/decoder.js"></script>
<script src="/scripts/lib/qr-code-reader/qrcode.js"></script>
<script src="/scripts/lib/qr-code-reader/findpat.js"></script>
<script src="/scripts/lib/qr-code-reader/alignpat.js"></script>
<script src="/scripts/lib/qr-code-reader/databr.js"></script>
<!--
<script src="/scripts/lib/qr-code-writer/raphael-2.1.0-min.js"></script>
<script src="/scripts/lib/qr-code-writer/qrcodesvg.js"></script>
-->
<script src="/scripts/polyfill.js"></script>
<script src="/scripts/lib/client_storage.js"></script>

<script src="/scripts/app/modules/webcam.js"></script>
<script src="/scripts/app/controllers/AuthController.js"></script>
<script src="/scripts/app/controllers/CheckInController.js"></script>
<script src="/scripts/app/controllers/HistoryController.js"></script>
<script src="/scripts/app/controllers/IdentityController.js"></script>
<script src="/scripts/app/controllers/ScanController.js"></script>
<script src="/scripts/app/controllers/StatsController.js"></script>
<script src="/scripts/app/app.js"></script>

<%= file_load("#{settings.root}/public/scripts/app/templates/identity.html") %>
