<div class="feature-page-wrapper audience">
	<div class="feature-page audience">
		<article class="for-individuals">
			<a href="/create">
				<img class="badge" src="/images/audience-player.png" height="150" width="150" alt="identification for players" />
			</a>
			<h4 class="headline create">for Players</h4>
			<p>
				Attending an event for which you need <%= plaintext_logo %>? Follow these steps:
				<ol>
					<li>Fill in a registration form</li>
					<li>Upload a photo of yourself or use your webcam</li>
					<li>Print the resulting id, <em>or</em> simply display it on your smartphone to a tournament official</li>
				</ol>
			</p>

			<a href="/create" class="button cta create">Create Your Id</a>
		</article>
		<article class="for-organizations">
			<a href="/app">
				<img class="badge" src="/images/audience-organization.png" height="150" width="150" alt="identification for organizations" />
			</a>
			<h4 class="headline app">for Organizations</h4>
			<blockquote>
				<em>white-label</em>: your brand applied to our code, delivering a seamless experience for the user
			</blockquote>
			<p>
				You already have a vast database or player data. Bring it to the field with <%= plaintext_logo %>.
			</p>
			<p>
				Players will present their photo id which you scan to both check-in and validate the identity of a player.
				With the optional download of our mobile app, identities can be verified in both on- and offline modes, meaning
				referees and tournament officials may conduct rapid, on-field spot checks.
			</p>

			<a href="/app" class="button cta app">Use the App</a>
		</article>
		<article class="for-officials">
			<a href="/scan">
				<img class="badge" src="/images/audience-official.png" height="150" width="150" alt="identification for officials" />
			</a>
			<h4 class="headline scan">for Officials</h4>
			<p>
				Using the <%= plaintext_logo %> mobile app, you can condict quick, onfield spot-checks of player identities.
			</p>
			<p>
				<strong>No internet connection?</strong> No problem! the <%= plaintext_logo %> mobile app works in both online and offline
				modes, ensuring accurate identity scans anywhere, even in the middle of nowhere.
			</p>

			<a href="/scan" class="button cta scan">Scan an Id</a>
		</article>
	</div>
</div>