<style type="text/css">
body {
	background: #eef;
}
#current-card {
}
#current-card svg {
	height: 200px;
}
</style>

<div id="current-card">
</div>

<script type="text/template" id="template-id-card">
	<%= file_load("#{settings.root}/public/tpl/card.svg") %>
</script>
