<style type="text/css">
#current-card {
}
#current-card svg {
	height: 200px;
}
</style>

<% unless @create_only %>
	<div id="main-menu">
		<img id="logo" src="/images/logo.svg" />

		<ul class="menu-items">
			<li class="menu-item create">
				<a class="hexagon" href="/#create-identity">
					<div class="hexagon icon">N</div>
				</a>
			</li>
			<li class="menu-item scan">
				<a class="hexagon" href="/#scan-identity">
					<div class="hexagon icon">Q</div>
				</a>
			</li>
			<li class="menu-item view">
				<a class="hexagon" href="/#scan-history">
					<div class="hexagon icon">H</div>
				</a>
			</li>
			<li class="menu-item stats">
				<a class="hexagon" href="/	`1`#scan-data">
					<div class="hexagon icon">D</div>
				</a>
			</li>
		</ul>
	</div>
<% end %>

<div id="application-content">
	<div id="create-identity" class="feature-page create">
		<h2>Create a Card</h2>
		<form actions="#" method="POST" id="form-create-identity">
			<div class="input-wrapper name">
				<input id="profile_name" name="identity[name]" type="text" placeholder="Full Name" value="Tony Lowe" />
			</div>
			<div class="input-wrapper birthdate">
				<input id="profile_birthdate" name="identity[birthdate]" type="date" placeholder="Birthdate" value="1989-02-03" />
			</div>
			<div class="input-wrapper image">
				<!-- <input id="profile_image" name="identity[image]" type="file" accept="image/*;capture=camera" /> -->
				<input id="profile_image" name="identity[image]" type="text" placeholder="http://" value="http://images.ussportscamps.com/coaches/TonyLowe1.JPG" />
			</div>
			<div class="input-wrapper image-capture">
				<!--
					<video autoplay height="360" width="480"></video>
					<img src="">
					<canvas id="qr-canvas" style="display:none;" height="360" width="480"></canvas>
					<div>
						<button id="video-capture-begin">Start Camera</div>
						<button id="video-capture-end">Stop Camera</div>
					</div>
				-->
			</div>

			<div class="actions">
				<button type="submit">Create</button>
			</div>
		</form>
		<div id="card-preview-wrapper">
			<div id="card-preview"></div>
			<div id="qrcode-preview"></div>
		</div>
	</div>

	<% unless @create_only %>
		<div id="scan-identity" class="feature-page scan">
			<h2>Scan a Card</h2>
			<video id="qr-video" autoplay height="360" width="480"></video>
			<canvas id="qr-canvas" style="display:none;" height="360" width="480"></canvas>
			<img id="qr-image" height="360" width="480" />
			<div>
				<button id="video-capture-begin">Start Camera</button>
				<button id="video-capture-end">Stop Camera</button>
			</div>

			<div id="current-card">
			</div>
		</div>

		<div id="scan-history" class="feature-page view">
			<h2>Scan History</h2>
		</div>

		<div id="scan-data" class="feature-page stats">
			<h2>Scan Data</h2>
		</div>
	<% end %>
</div>

<script type="text/template" id="template-id-card">
	<%= file_load("#{settings.root}/public/tpl/card.svg") %>
</script>

<script>
// (function(){
// 	var fnOnload = window.onload;
// 	window.onload = function() {
// 		if(typeof(fn) === 'function') fn();
// 	};
// })();
</script>