<div id="page-content" class="<%= @create_only || @display_only ? 'no-menu' : 'has-menu' %>">
<div id="qrcode-preview"></div>

<% unless @create_only || @display_only %>
	<div id="main-menu">
		<img id="logo" src="/images/sprtid.png" />

		<ul class="menu-items">
			<li class="menu-item create">
				<a class="hexagon" href="/create">
					<div class="hexagon icon">N</div>
				</a>
			</li>
			<li class="menu-item scan">
				<a class="hexagon" href="/#scan-identity">
					<div class="hexagon icon">Q</div>
				</a>
			</li>
			<li class="menu-item view">
				<a class="hexagon" href="/#scan-history">
					<div class="hexagon icon">H</div>
				</a>
			</li>
			<li class="menu-item stats">
				<a class="hexagon" href="/#scan-data">
					<div class="hexagon icon">D</div>
				</a>
			</li>
		</ul>
	</div>
<% end %>

<% unless @create_only || @display_only %>
	<div id="sprtid-main" class="feature-page main">
		<img id="main-logo" height="50%" width="auto" src="/images/sprtid.png" />
		<h3>
			sprtId is a white-label provider of identification products.
		</h3>
		<p>
			When your next tournament calls for rapid, on-field photo verification of players, sprtId is the solution.
		</p>
		<p>
			sprtId takes the registration process you already have in-place to the field with no apps to download, meaning
			pre-registration by tournament organizers, and spot-checks at the field by officials are quick and easy, ensuring
			fair play with limited interruption.
		</p>
		<h5>How it works</h5>
		<p>
			Upon registration for an event, an email will be sent to each player (or parent of player) at which time a photo
			will be taken or uploaded.  Once complete, a player or parent may either print a temporary id card or display it
			on his or her phone to the tournament organizers.
		</p>
	</div>
<% end %>

<div id="application-content">
	<% unless @display_only %>
		<%= erb :create, :layout => false %>
	<% end %>

	<% unless @create_only %>
		<div id="scan-identity" class="feature-page scan">
			<% unless @display_only %>
				<h2>Scan a Card</h2>
				<p>
					(mostly working) No external tools necessary on the field to scan cards,
					this webpage has the ability to tap into your phone or tablet's camera
					creating a quick card scanner.  Scanning the card will display up a player's
					profile to ensure the authenticity of the card is in place.
				</p>
				<video id="qr-video" autoplay height="360" width="480"></video>
				<canvas id="qr-canvas" style="display:none;" height="360" width="480"></canvas>
				<img id="qr-image" height="360" width="480" />
				<div>
					<button id="video-capture-begin">Start Camera</button>
					<button id="video-capture-end">Stop Camera</button>
				</div>
			<% end %>

			<div id="current-card">
			</div>
		</div>
	<% end %>

	<% unless @create_only || @display_only %>
		<div id="scan-history" class="feature-page view">
			<h2>Scan History</h2>
			<%= erb :list, :layout => false %>
		</div>
	<% end %>

	<% unless @create_only || @display_only %>
		<div id="scan-data" class="feature-page stats">
			<h2>Scan Data</h2>
		</div>
	<% end %>
</div>
