<html>
<head>
	<title>quick id</title>
	<link rel="stylesheet" type="text/css" href="/styles/site.css">
</head>
<body>
	<%= yield %>

	<!-- script src="/scripts/lib/jquery-1.10.2.min.js"></script -->
	<script src="/scripts/lib/underscore-min.js"></script>
	<script src="/scripts/lib/aes-min.js"></script>

	<script src="/scripts/lib/qrcode/grid.js"></script>
	<script src="/scripts/lib/qrcode/version.js"></script>
	<script src="/scripts/lib/qrcode/detector.js"></script>
	<script src="/scripts/lib/qrcode/formatinf.js"></script>
	<script src="/scripts/lib/qrcode/errorlevel.js"></script>
	<script src="/scripts/lib/qrcode/bitmat.js"></script>
	<script src="/scripts/lib/qrcode/datablock.js"></script>
	<script src="/scripts/lib/qrcode/bmparser.js"></script>
	<script src="/scripts/lib/qrcode/datamask.js"></script>
	<script src="/scripts/lib/qrcode/rsdecoder.js"></script>
	<script src="/scripts/lib/qrcode/gf256poly.js"></script>
	<script src="/scripts/lib/qrcode/gf256.js"></script>
	<script src="/scripts/lib/qrcode/decoder.js"></script>
	<script src="/scripts/lib/qrcode/qrcode.js"></script>
	<script src="/scripts/lib/qrcode/findpat.js"></script>
	<script src="/scripts/lib/qrcode/alignpat.js"></script>
	<script src="/scripts/lib/qrcode/databr.js"></script>

	<script src="/scripts/card.js"></script>
</body>
</html>