<html>
<head>
	<title>quick id</title>
	<link rel="stylesheet" type="text/css" href="/styles/site.css">
</head>
<body>
	<%= yield %>

	<!-- script src="/scripts/lib/jquery-1.10.2.min.js"></script -->
	<script src="/scripts/lib/underscore-min.js"></script>
	<script src="/scripts/lib/aes-min.js"></script>
	<script src="/scripts/card.js"></script>
</body>
</html>