<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
<% @identities.each do |identity| %>
		<tr>
			<th>
				<%= identity.created_at || 'n/a' %>
			</th>
			<td>
				<a href="/i/<%= identity._id %>" target="_blank">
					<%= identity.name %>
				</a>
			</td>
		</tr>
<% end %>
	</tbody>
</table>